<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
	id="apps.blueware.co.za_SAMMobile" versionCode = "464" version="0.8.1">

	<name short="SAM Mobile">SAMMobile</name>

	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="winphone" />
	
	<gap:plugin name="com.phonegap.plugin.statusbar" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="org.apache.cordova.splashscreen" />

	<preference name="permissions" value="none" />
	<preference name="exit-on-suspend" value="true" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="SplashScreen" value="screen"/>
		
	<allow-navigation href="*" />
    <allow-intent href="*" />
	<access origin="*" />
	
	<description>
		SAMMobile brings your company's Software Development Lifecycle (SDLC) to your mobile device. It makes otherwise tedious tasks like progress feedback and time sheet capture a lot more convenient for you.
		Note: This application requires a connection to a SAM application server.		
	</description>

	<author href="http://www.rbgapps.com/" email="info@rbgapps.com">RBG Applications</author>
	
	//Phonegap version preference for build	
	<preference name="phonegap-version" value="cli-6.3.0" />
	
	//icons
	<gap:icon src="sammobile57x57.png" gap:platform="ios" width="57" height="57" />
	<gap:icon src="sammobile72x72.png" gap:platform="ios" width="72" height="72" /> 
	<gap:icon src="sammobile76x76.png" gap:platform="ios" width="76" height="76" /> 
	<gap:icon src="sammobile120x120.png" gap:platform="ios" width="120" height="120" />
	<gap:icon src="sammobile152x152.png" gap:platform="ios" width="152" height="152" />
	<gap:icon src="sammobile1024x1024icon.png" gap:platform="android" />
	<gap:icon src="sammobile1024x1024icon.png" gap:platform="ios" />
	<gap:icon src="sammobile1024x1024icon.png" />

	//splash screen
	<gap:splash src="sammobile1024x1024splash.png" gap:platform="ios" width="320"  height="480"  />
    <gap:splash src="sammobile1024x1024splash.png" gap:platform="ios" width="640"  height="960"  />
    <gap:splash src="sammobile1024x1024splash.png" gap:platform="ios" width="640"  height="1136" />
    <gap:splash src="sammobile1024x1024splash.png" gap:platform="ios" width="1024" height="748"  />
    <gap:splash src="sammobile1024x1024splash.png" gap:platform="ios" width="768"  height="1004" />
    <gap:splash src="sammobile1024x1024splash.png" gap:platform="ios" width="2048" height="1496" />
    <gap:splash src="sammobile1024x1024splash.png" gap:platform="ios" width="1536" height="2008" />
	<gap:splash src="sammobile1024x1024splash.png" gap:platform="android"/>
	<gap:splash src="sammobile1024x1024splash.png" gap:platform="ios"/>
    <gap:splash src="sammobile1024x1024splash.png" />
	
	<license>
		The software is provided "as is", without warranty of any kind, express
		or implied, including but not limited to the warranties of
		merchantability, fitness for a particular purpose and noninfringement. 
		In no event shall the authors of copyright holders be liable for any claim, 
		damages or other liability, whether in an action of contract, insult or otherwise,
		arising from, out of or in connnection with the software or the use or other dealings
		in the software.
	</license>

</widget>