<widget id="apps.blueware.co.za_SAMMobile" version="0.8.1" versionCode="464" xmlns:gap="http://phonegap.com/ns/1.0"
	xmlns="http://www.w3.org/ns/widgets">
	<name short="SAM Mobile">SAMMobile</name>
	<!-- Plugins   -->
	<plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1"/>
	<plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.2"/>
	<plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>
		
	<!-- preferences related to plug-ins -->
	<preference name="permissions" value="none"/>
	<preference name="exit-on-suspend" value="true"/>
	<preference name="StatusBarOverlaysWebView" value="false"/>
	<preference name="SplashScreenDelay" value="3000"/>
	<preference name="ShowSplashScreen" value="true"/>
	<allow-navigation href="*"/>
	<allow-intent href="*"/>
	<access origin="*"/>
		
	<!-- App details -->
	<description>
		SAMMobile brings your company's Software Development Lifecycle (SDLC) to your mobile device. It makes otherwise tedious tasks like progress
		feedback and time sheet capture a lot more convenient for you. Note: This application requires a connection to a SAM application server.
	</description>
	<author email="info@rbgapps.com" href="http://www.rbgapps.com/">RBG Applications</author>
	<!--Phonegap version preference for build	 -->
	<preference name="phonegap-version" value="cli-6.3.0"/>

	<!--default icon and splash screen -->	
	<icon src="sammobile1024x1024icon.png"/>
	<splash src="sammobile1024x1024splash.png"/>
	
	<!--android splash and icons -->
	<platform name="ios">
		<icon src="images/sammobile1024x1024icon.png"/>
		<icon src="images/sammobile29x29.png" width="29" height="29"/>
		<icon src="images/sammobile48x48.png" width="48" height="48"/>
		<icon src="images/sammobile57x57.png" width="57" height="57"/>
		<icon src="images/sammobile58x58.png" width="58" height="58"/>
		<icon src="images/sammobile64x64.png" width="64" height="64"/>
		<icon src="images/sammobile72x72.png" width="72" height="72"/>
		<icon src="images/sammobile76x76.png" width="76" height="76"/>
		<icon src="images/sammobile114x114.png" width="114" height="114"/>
		<icon src="images/sammobile120x120.png" width="120" height="120"/>
		<icon src="images/sammobile144x144.png" width="144" height="144"/>
		<icon src="images/sammobile152x152.png" width="152" height="152"/>
		<icon src="images/sammobile1024x1024icon.png" width="1024" height="1024"/>
		<splash src="images/sammobile1024x1024splash.png"/>
		<splash src="images/sammobile1024x1024splash.png" width="320" height="480"/>
		<splash src="images/sammobile1024x1024splash.png" width="640" height="960"/>
		<splash src="images/sammobile1024x1024splash.png" width="640" height="1136"/>
		<splash src="images/sammobile1024x1024splash.png" width="750" height="1334"/>
        <splash src="images/sammobile1024x1024splash.png" width="768" height="1024"/>
		<splash src="images/sammobile1024x1024splash.png" width="1024" height="748"/>
		<splash src="images/sammobile1024x1024splash.png" width="768" height="1004"/>
		<splash src="images/sammobile1024x1024splash.png" width="1024" height="768"/>
		<splash src="images/sammobile1024x1024splash.png" width="1242" height="2208"/>
		<splash src="images/sammobile1024x1024splash.png" width="1536" height="2008"/>
		<splash src="images/sammobile1024x1024splash.png" width="1536" height="2048"/>
    	<splash src="images/sammobile1024x1024splash.png" width="2208" height="1242"/>
		<splash src="images/sammobile1024x1024splash.png" width="2048" height="1496"/>
		<splash src="images/sammobile1024x1024splash.png" width="2048" height="1536"/>
	</platform>
	<!-- android splash and icons -->
	<platform name="android">
		<icon src="images/sammobile1024x1024icon.png"/>
		<splash src="images/sammobile1024x1024splash.png"/>
	</platform>
	<license>
		The software is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of
		merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors of copyright holders be liable for any
		claim, damages or other liability, whether in an action of contract, insult or otherwise, arising from, out of or in connnection with the
		software or the use or other dealings in the software.
	</license>
</widget>